@import "./styles/themes";

.cart {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;

  .cart-header-cards {
    display: flex;
    flex-direction: column;
    gap: 30px;

    .cart-cards {
      display: grid;
      grid-template-columns: auto auto auto;
      gap: 30px;

      .cart-card {
        display: flex;
        flex-direction: column;

        .cart-img-add-btn {
          position: relative;
          margin-bottom: 15px;

          .cart--image {
          }

          .cart--button {
            display: flex;
            gap: 15px;
            position: absolute;
            bottom: -15px;
            right: 45%;

            svg {
            }

            .cart-button--p {
            }
          }
        }

        .cart-card-texts {
          .cart--category {
          }

          .cart--name {
          }

          .cart--price {
          }
        }
      }
    }
  }

  .cart-order {
    .cart-order--h2 {
    }

    .cart-order-items {
      .cart-order-item {
        .cart-item-details {
          .cart-order--name {
          }

          .cart-item-rates {
            .cart-item--quantity {
            }

            .cart-item--price {
            }

            .cart-item--total {
            }
          }
        }

        .cart-item--close-btn {
          svg {
          }
        }
      }
    }

    .cart-total {
      .cart-total--label {
      }

      .cart-total--price {
      }
    }

    .cart-carbon {
      svg {
      }

      .cart-carbon--p {
      }
    }

    .cart-oder--confirm-btn {
    }
  }
}
