* {
  margin: 0;
  padding: 0;
}

.container, body .cart .cart-order, body .cart .cart-header-cards .cart-cards .cart-card .cart-img-add-btn, body .cart .cart-header-cards .cart-cards, body .cart .cart-header-cards, body .cart {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

@media (max-width: 1536px) {
  .container, body .cart .cart-order, body .cart .cart-header-cards .cart-cards .cart-card .cart-img-add-btn, body .cart .cart-header-cards .cart-cards, body .cart .cart-header-cards, body .cart {
    max-width: 1280px;
  }
}
@media (max-width: 1280px) {
  .container, body .cart .cart-order, body .cart .cart-header-cards .cart-cards .cart-card .cart-img-add-btn, body .cart .cart-header-cards .cart-cards, body .cart .cart-header-cards, body .cart {
    max-width: 1024px;
  }
}
@media (max-width: 1024px) {
  .container, body .cart .cart-order, body .cart .cart-header-cards .cart-cards .cart-card .cart-img-add-btn, body .cart .cart-header-cards .cart-cards, body .cart .cart-header-cards, body .cart {
    max-width: 768px;
  }
}
@media (max-width: 768px) {
  .container, body .cart .cart-order, body .cart .cart-header-cards .cart-cards .cart-card .cart-img-add-btn, body .cart .cart-header-cards .cart-cards, body .cart .cart-header-cards, body .cart {
    max-width: 640px;
  }
}
@media (max-width: 640px) {
  .container, body .cart .cart-order, body .cart .cart-header-cards .cart-cards .cart-card .cart-img-add-btn, body .cart .cart-header-cards .cart-cards, body .cart .cart-header-cards, body .cart {
    max-width: 475px;
  }
}
@media (max-width: 475px) {
  .container, body .cart .cart-order, body .cart .cart-header-cards .cart-cards .cart-card .cart-img-add-btn, body .cart .cart-header-cards .cart-cards, body .cart .cart-header-cards, body .cart {
    width: 100%;
  }
}
@media print {
  body {
    background-color: transparent;
  }
}
body {
  display: flex;
  justify-content: center;
  background-color: white;
}

h1 {
  font-family: "Jost", sans-serif;
  font-weight: 900;
  font-size: 48px;
  font-style: normal;
  letter-spacing: 2px;
  line-height: 48px;
  color: #333136;
}
@media (max-width: 1536px) {
  h1 {
    font-size: 28px;
  }
}

h2 {
  font-family: "Jost", sans-serif;
  font-weight: 500;
  font-size: 40px;
  font-style: normal;
  letter-spacing: 2px;
  line-height: 48px;
  color: #333136;
}

h3 {
  font-family: "Jost", sans-serif;
  font-weight: 500;
  font-size: 20px;
  font-style: normal;
  letter-spacing: 5;
  line-height: 26px;
  color: #333136;
}

div {
  border: 1px dotted red;
}

body {
  display: flex;
  justify-content: center;
}
body .cart {
  padding: 3rem 5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-wrap: wrap;
  gap: 80px;
  background-color: #faf8f6;
}
body .cart .cart-header-cards {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
body .cart .cart-header-cards .cart-cards {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 30px;
}
@media (max-width: 1280px) {
  body .cart .cart-header-cards .cart-cards {
    grid-template-columns: auto auto;
    gap: 20px;
  }
}
@media (max-width: 768px) {
  body .cart .cart-header-cards .cart-cards {
    grid-template-columns: auto;
    gap: 20px;
  }
}
body .cart .cart-header-cards .cart-cards .cart-card {
  display: flex;
  flex-direction: column;
}
body .cart .cart-header-cards .cart-cards .cart-card .cart-img-add-btn {
  margin-bottom: 15px;
  position: relative;
}
body .cart .cart-header-cards .cart-cards .cart-card .cart-img-add-btn .cart--image {
  width: 300px;
  height: 300px;
  border-radius: 15px;
}
body .cart .cart-header-cards .cart-cards .cart-card .cart-img-add-btn .cart--button {
  padding: 15px 20px;
  position: absolute;
  bottom: -15px;
  right: 25%;
  display: flex;
  gap: 15px;
  border-radius: 25px;
  border: 1px solid #e56e11;
  background-color: #faf8f6;
}
body .cart .cart-header-cards .cart-cards .cart-card .cart-card-texts {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
body .cart .cart-order {
  padding: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 25px;
  background-color: white;
}
body .cart .cart-order .cart-order-items {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
body .cart .cart-order .cart-order-items .cart-order-item {
  padding: 5px 0;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ffecbb;
}
body .cart .cart-order .cart-order-items .cart-order-item .cart-item-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
body .cart .cart-order .cart-order-items .cart-order-item .cart-item-details .cart-item-rates {
  display: flex;
  gap: 5px;
}
body .cart .cart-order .cart-order-items .cart-order-item .cart-item--close-btn {
  margin-left: auto;
  padding: 2px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: inherit;
  border: 1px solid black;
}
body .cart .cart-order .cart-total {
  display: flex;
}
body .cart .cart-order .cart-total .cart-total--price {
  margin-left: auto;
}
body .cart .cart-order .cart-carbon {
  padding: 15px 25px;
  display: flex;
  gap: 3px;
  align-items: center;
  background-color: rgb(245, 238, 238);
  border-radius: 10px;
}
body .cart .cart-order .cart-oder--confirm-btn {
  padding: 15px 25px;
  justify-content: center;
  border-radius: 20px;
  border: none;
  background-color: #e56e11;
}/*# sourceMappingURL=index-0.css.map */