//Neutralisers --------------------------------------------------
* {
  margin: 0;
  padding: 0;
}

//Responsiveness ---------------------
$xxl: 1536px;
$xl: 1280px;
$lg: 1024px;
$md: 768px;
$sm: 640px;
$xs: 475px;

.container {
  max-width: $xxl;
  margin-left: auto;
  margin-right: auto;
  // padding-left: 2.5rem;
  // padding-right: 2.5rem;
}

@media (max-width: $xxl) {
  .container {
    max-width: $xl;
  }
}

@media (max-width: $xl) {
  .container {
    max-width: $lg;
  }
}

@media (max-width: $lg) {
  .container {
    max-width: $md;
  }
}

@media (max-width: $md) {
  .container {
    max-width: $sm;
  }
}

@media (max-width: $sm) {
  .container {
    max-width: $xs;
  }
}

@media (max-width: $xs) {
  .container {
    width: 100%;
  }
}

//Colors -------------------------
$primary: #e7816b;
$primary_variant: #ffad9b;
$secondary: white;
$secondary_variant: #333136;
$background: #faf8f6;
$activeButton: #66d2cf;

$cream: #ffecbb;
$grey: rgb(245, 238, 238);
$orange: #e56e11;

@media print {
  body {
    background-color: transparent;
  }
}

body {
  display: flex;
  justify-content: center;

  background-color: $secondary;
}

//Fonts -------------------------
$font: "Jost", sans-serif;

@mixin fonts(
  $fam: $font,
  $weight: 500,
  $size,
  $line_height,
  $letter_spacing: +2px,
  $color,
  $style: normal
) {
  font: {
    family: $fam;
    weight: $weight;
    size: $size;
    style: $style;
  }
  letter-spacing: $letter_spacing;
  line-height: $line_height;
  color: $color;
}

h1 {
  @include fonts(
    $size: 48px,
    $line_height: 48px,
    $color: $secondary_variant,
    $weight: 900
  );

  @media (max-width: $xxl) {
    font-size: 28px;
  }
}

h2 {
  @include fonts($size: 40px, $line_height: 48px, $color: $secondary_variant);
}

h3 {
  @include fonts(
    $size: 20px,
    $line_height: 26px,
    $letter_spacing: +5,
    $color: $secondary_variant
  );
}

//Test ---------------------------------
// div {
//   border: 1px dotted red;
// }
